* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

header {
  height: 130px;
  width: 100%;
  padding: 10px 50px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 100%;
    }

    h3 {
      margin: 0;
      padding: 0;
      font-size: 22px;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 15px;
    }

    .name > a {
      padding: 0;
    }
  }

  a {
    text-decoration: none;
    color: #000000;
    padding: 0 5px;
    font-size: 16px;
  }
}

.main {
  height: 600px;
  background-image: url("images/learn.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .dark {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #00000014;
  }

  .cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-top: 35%;
      margin-bottom: 20%;
      font-size: 72px;
      color: #ffffff;
    }

    p {
      margin-bottom: 25%;
      font-size: 20px;
      color: #ffffff;
    }

    .install {
      text-decoration: none;
      color: #ffffff;
      width: 150px;
      height: 45px;
      border: 1px solid #ffffff;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .install:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
}

.curve {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 9%;

    h2 {
      font-size: 40px;
    }

    p {
      font-size: 15px;
      line-height: 25px;
    }

    .read {
      text-decoration: none;
      color: #000000;
      width: 150px;
      height: 45px;
      border: 1px solid #000000;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .read:hover {
      background-color: #000000;
      color: #ffffff;
    }
  }

  .right {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 5%;

  h2 {
    margin: 5% 0 5%;
    font-size: 40px;
    color: #23bc64;
  }

  .tips,
  .settings {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    .left {
      width: 30%;
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      padding: 3%;

      h2 {
        margin: 40px 0 40px;
        font-size: 22px;
        color: #23bc64;
      }

      p {
        font-size: 15px;
      }
    }

    .right {
      width: 70%;

      img {
        width: 100%;
      }
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    .left {
      width: 70%;

      img {
        width: 100%;
      }
    }

    .right {
      width: 30%;
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      padding: 0 2%;

      h2 {
        margin: 40px 0 40px;
        font-size: 22px;
        color: #23bc64;
      }

      ul {
        font-size: 15px;
      }
    }
  }
}

.questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 0 15%;
  position: relative;
  background-image: url("images/asked.webp");
  background-size: cover;
  background-repeat: no-repeat;

  .image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000b2;
  }

  .contain {
    position: relative;

    .heading {
      text-align: center;

      h2 {
        font-size: 40px;
        margin: 10% 0;
      }

      p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 100px;
      }
    }

    .question {
      width: 50px;
      height: 50px;
      margin: 64px 0;

      img {
        width: 100%;
        color: #ffffff;
      }
    }

    p,
    li {
      line-height: 35px;
      font-size: 15px;
    }

    h3 {
      margin: 4% 0;
      font-size: 22px;
    }
  }

  .contain p:last-child {
    margin-bottom: 10%;
  }
}

.email {
  width: 100%;
  height: 400px;
  padding: 15%;

  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  input {
    margin: 5px;
    width: 400px;
    height: 35px;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 15px;
  }

  input::placeholder {
    color: #000000;
  }

  button {
    width: 100px;
    height: 35px;
    margin: 5px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
  }

  button:hover {
    background-color: #808080;
    color: #000000;
  }

  button:active {
    background-color: #000000;
    color: #ffffff;
  }
}

.install-to {
  height: 500px;
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;

  div {
    width: 30%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
      margin-bottom: 4%;
    }

    a {
      text-decoration: none;
      color: #ffffff;
      width: 150px;
      height: 45px;
      border: 1px solid #ffffff;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;

    a {
      width: 20px;
      height: 20px;
      margin: 10px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .copy {
    text-align: center;
    margin-bottom: 50px;
    font-size: 14px;
  }
}
