@keyframes button_smooth_opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.main {
  height: 739px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: #000000;

  &::after {
    content: "";
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #00000040;
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  .header {
    position: relative;
    height: 140px;
    width: 100%;
    padding: 10px 72px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    z-index: 3;

    .left {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 50%;

      .img {
        position: relative;
        width: 120px;
        height: 80px;
      }

      .name {
        margin-left: 15px;

        .memo {
          display: block;
          margin: 13px 0 5px;
          padding: 0;
          font-size: 22px;
          font-weight: bold;
          text-decoration: none;
          color: #000000;
        }
        .text {
          margin: 0;
          padding: 0;
          font-size: 15px;
        }
      }
    }

    .right {
      .menu {
        text-decoration: none;
        color: #000000;
        padding: 0 8px;
        font-size: 14px;
      }
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    h1 {
      margin-top: 68%;
      margin-bottom: 10%;
      font-size: 72px;
      color: #ffffff;
      letter-spacing: -2px;
    }

    p {
      margin-bottom: 18%;
      font-size: 20px;
      color: #ffffff;
      word-spacing: 1px;
    }

    .install {
      &:hover {
        background-color: #ffffff;
        color: #000000;
        animation: button_smooth_opacity 0.5s;
      }

      text-decoration: none;
      color: #ffffff;
      width: 114px;
      height: 45px;
      border: 1px solid #ffffff;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
    }
  }
}

.curve {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;

    .text {
      width: 460px;
      align-items: flex-start;

      h2 {
        font-size: 40px;
        margin-bottom: 30px;
        letter-spacing: -1.5px;
      }

      p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 60px;
      }

      .read {
        &:hover {
          background-color: #000000;
          color: #ffffff;
          animation: button_smooth_opacity 0.5s;
        }

        text-decoration: none;
        color: #000000;
        width: 115px;
        height: 45px;
        border: 1px solid #000000;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
      }
    }
  }

  .right {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 5%;

  h2 {
    margin: 5% 0 5%;
    font-size: 40px;
    color: #23bc64;
  }

  .tips,
  .settings {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    .left {
      width: 30%;
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      padding: 3%;

      h2 {
        margin: 40px 0 40px;
        font-size: 22px;
        color: #23bc64;
      }

      p {
        font-size: 15px;
      }
    }

    .right {
      width: 70%;

      img {
        width: 100%;
      }
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    .left {
      width: 70%;

      img {
        width: 100%;
      }
    }

    .right {
      width: 30%;
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      padding: 0 2%;

      h2 {
        margin: 40px 0 40px;
        font-size: 22px;
        color: #23bc64;
      }

      ul {
        font-size: 15px;
        margin-left: -20px;

        li {
          line-height: 25px;
        }
      }
    }
  }
}

.questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 0 15%;
  position: relative;
  background-image: url("images/asked.webp");
  background-size: cover;
  background-repeat: no-repeat;

  .dark-cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000b2;
  }

  .contain {
    position: relative;

    .heading {
      text-align: center;

      h2 {
        font-size: 40px;
        margin: 10% 0;
      }

      p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 100px;
      }
    }

    .question {
      width: 50px;
      height: 50px;
      margin: 64px 0;

      img {
        width: 100%;
        color: #ffffff;
      }
    }

    p,
    li {
      line-height: 35px;
      font-size: 15px;
    }

    h3 {
      margin: 4% 0;
      font-size: 22px;
    }
  }

  .contain p:last-child {
    margin-bottom: 10%;
  }
}

.email {
  width: 100%;
  height: 400px;
  padding: 15%;

  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  input {
    margin: 5px;
    width: 40%;
    height: 35px;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 15px;
  }

  input::placeholder {
    color: #000000;
  }

  button {
    width: 100px;
    height: 35px;
    margin: 5px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
  }

  button:hover {
    background-color: #808080;
    color: #000000;
  }

  button:active {
    background-color: #000000;
    color: #ffffff;
  }
}

.buttons_install-to {
  height: 480px;
  width: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;

  div {
    width: 30%;
    margin: 0 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      margin-bottom: 16%;
    }

    .install {
      &:hover {
        background-color: #ffffff;
        animation: button_smooth_opacity 0.5s;
      }

      text-decoration: none;
      color: #ffffff;
      width: 164px;
      height: 45px;
      font-size: 15px;
      border: 1px solid #ffffff;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;

    a {
      width: 20px;
      height: 20px;
      margin: 10px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .copy {
    text-align: center;
    margin-bottom: 50px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1120px) {
  .main {
    #background {
      width: 0;
    }
    background-image: url(./images/learn.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
}
@media screen and (max-width: 1024px) {
  .main {
    .header {
      padding: 0 20px;
      .left {
        .name {
          .memo {
            font-size: 20px;
          }
          .text {
            font-size: 14px;
          }
        }
      }

      .right {
        .menu {
          padding: 0 3px;
          font-size: 14px;
        }
      }
    }
  }
  .curve {
    .left {
      .text {
        width: 80%;

        h2 {
          font-size: 30px;
          margin-bottom: 20px;
        }

        p {
          font-size: 12px;
          margin-bottom: 30px;
        }
        .read {
          font-size: 12px;
          width: 90px;
          height: 33px;
        }
      }
    }
  }
  .features {
    h2 {
      margin: 2% 0 5%;
    }

    .tips,
    .settings {
      .left {
        h2 {
          margin: 20px 0 20px;
        }
      }
    }

    .options {
      .right {
        h2 {
          margin: 20px 0 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    height: 500px;

    .header {
      padding: 0 10px;
      height: 100px;

      .left {
        .name {
          .memo {
            font-size: 18px;
          }
          .text {
            font-size: 12px;
          }
        }
      }

      .right {
        .menu {
          padding: 0 2px;
          font-size: 13px;
        }
      }
    }

    .container {
      h1 {
        margin-top: 20%;
      }
    }
  }
  .curve {
    .left {
      padding: 10px;

      .text {
        h2 {
          font-size: 20px;
          letter-spacing: -1px;
          margin-bottom: 10px;
        }

        p {
          font-size: 12px;
          margin-bottom: 15px;
          line-height: 20px;
        }

        .read {
          font-size: 12px;
          width: 90px;
          height: 33px;
        }
      }
    }
  }
  .features {
    h2 {
      margin: 0 0 5%;
      font-size: 30px;
    }

    .tips,
    .settings {
      .left {
        h2 {
          margin: 20px 0 20px;
        }
      }
    }

    .options {
      .right {
        h2 {
          margin: 15px 0 15px;
        }

        ul {
          li {
            line-height: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .main {
    height: 370px;

    .header {
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      height: 70px;

      .left {
        width: 100%;
        height: 45px;
        justify-content: center;

        .img {
          width: 60px;

          img {
            width: 60px;
            height: 40px;
          }
        }

        .name {
          .memo {
            margin: 0;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .menu {
          padding: 0 5px;
          font-size: 10px;
        }
      }
    }

    .container {
      h1 {
        margin-top: 25%;
        margin-bottom: 15%;
        font-size: 50px;
      }

      p {
        font-size: 16px;
      }
    }
  }
  .curve {
    flex-direction: column;

    .left {
      width: 100%;
    }

    .right {
      width: 100%;
    }
  }

  .features {
    h2 {
      margin: 0 0 5%;
      font-size: 30px;
    }

    .tips,
    .settings {
      flex-direction: column;

      .left {
        width: 100%;

        h2 {
          text-align: center;
        }

        p {
          text-align: center;
        }
      }

      .right {
        width: 100%;
      }
    }

    .options {
      flex-direction: column-reverse;

      .right {
        width: 100%;
        margin-bottom: 20px;

        h2 {
          text-align: center;
        }
      }

      .left {
        width: 100%;
      }
    }
  }

  .questions {
    .contain {
      .question {
        margin: 25px auto;
      }
      h3 {
        text-align: center;
      }
      ul,
      ol {
        padding-inline-start: 20px;
      }
    }
  }

  .email {
    padding: 10%;

    div {
      flex-direction: column;

      input {
        width: 100%;
      }
    }
  }
  .buttons_install-to {
    height: 300px;

    div {
      margin: 0 20px;

      img {
        width: 40px;
        height: 40px;
      }

      .install {
        width: 100px;
        height: 30px;
        font-size: 11px;
      }
    }
  }
}
